{% extends 'layout/layout.html.twig' %}
{# @var post \KCMB\AppBundle\Entity\Post #}
{% block content %}
    <div class="container">
            <div class="col-md-12" id="posts-wrapper">
                <h1 class="my-8"> </h1>
                <div id="ajax-post">
                    <script>
                        $.ajax({
                            method: "GET",
                            url: '{{ path('kcmb_app_posts_widget') }}'
                        }).done(function (response) {
                            $('#ajax-post').html(response);
                            KCMB.post.init("{{ path('kcmb_app_posts_widget') }}")
                        })
                    </script>
                </div>
                <div id="load-more-container"><button type="button" class="btn btn-primary center-block" id="load-more-button">{{ 'posts.index.loadMore'|trans }}</button></div>
            </div>
        </div>
    <div class="modal loading"></div>
{% endblock %}