{% for post in posts %}
    <div class="card mb-12" style="text-align:center;">
        <img class="card-img-top" src="{% path post.headerImage, 'reference' %}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content|slice(0,160)|raw }}...</p>
            <a href="{{ path('kcmb_app_post_view', {id: post.id}) }}" class="btn btn-primary">Czytaj więcej &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            {{ 'posts.view.plublished'|trans }} {{ post.createdAt|date("d-m-Y h:i") }}
        </div>
    </div>
    <hr>
{% endfor %}
