{% extends 'layout/layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">
                    Edycja profilu
                </h3>
            </div>
            <div class="panel-body">
                {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}

                {{ form_widget(form) }}
                <div class="text-center form-actions">
                    <button type="submit" name="submit"  class="btn btn-full-primary"><span>{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</span></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}