{% extends 'layout/layout.html.twig' %}
{# @var user \Application\Sonata\UserBundle\Entity\User #}
{% block content %}
    <div class="col-lg-12 col-sm-12">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" src="{% if user.avatar is not null %}{% path user.avatar, 'reference' %}{% else %}https://lmms.io/forum/styles/comboot/theme/images/default_avatar.jpg{% endif %}">
            </div>
            <div class="useravatar">
                <img alt="" src="{% if user.avatar is not null %}{% path user.avatar, 'reference' %}{% else %}https://lmms.io/forum/styles/comboot/theme/images/default_avatar.jpg{% endif %}">
            </div>
            <div class="card-info">
                <span class="card-title">{{ user.firstname }} {{ user.lastname }}</span>
            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="hidden-xs">O mnie</span>
                </button>
            </div>
        </div>
        <div class="well">
            <div class="tab-content">
                {{ user.shortDescription }}
            </div>
        </div>
        <div>
            <div class="tab-content">
                <h3 style="text-align: center">Ulubione posty</h3>
                {% if user.favouritePosts|length > 0 %}
                    {% for post in user.favouritePosts %}
                        <a class="info" href="{{ path('kcmb_app_post_view', {id: post.id}) }}">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="{% path post.headerImage, 'reference' %}" alt="">
                                    <div class="overlay">
                                        <h2>{{ post.title }}</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center"><i>Ten użytkownik nie dodał jeszcze żadnych filmów do ulubionych</i></p>
                {% endif %}
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                 $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        });
    </script>
{% endblock %}