<!DOCTYPE html>
<head>
    {% block head %}
    <title>{% block title %}Blog{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css">
        {% javascripts
        'static/js/Post.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% stylesheets
        'static/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            {# Brand and toggle get grouped for better mobile display #}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('kcmb_app_default_index') }}">Blog</a>
            </div>

            <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                {{ knp_menu_render('KCMB\AppBundle:Builder:mainMenu', {'template': 'menu/menu.html.twig'}) }}
            </div>
        </div>
    </div>
    <div class="content" style="margin-top: 60px;">
        Content goes here!
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div id="message" style="width: 100%;text-align: center;">
                <div class="col-sm-7 col-xs-12 alert alert-{{ label }} text-center" style="margin: 0 auto">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <br />
    {% endfor %}
    {% block content %}
    {% endblock %}
{% endblock %}
</body>