{% extends 'layout/layout.html.twig' %}

{% block content %}
    {% block fos_user_content %}
        <div class="container">
                {% block sonata_user_login %}
                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <h2 class="panel-title">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</h2>
                        </div>

                        <div class="panel-body">

                            {% block sonata_user_login_error %}
                                {% if error %}
                                    <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                {% endif %}
                            {% endblock %}

                            {% block sonata_user_login_form %}
                            <div class="container">

                                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                                    <h2 class="form-signin-heading">Zaloguj się</h2>
                                    <label for="username" class="sr-only">Login</label>
                                    <input type="text" id="username" name="_username" class="form-control" placeholder="Podaj login..." required autofocus>
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
                                    <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit">Zaloguj się</button>
                                </form>

                            </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        <style>
            body {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #eee;
            }
        </style>
    {% endblock fos_user_content %}
{% endblock %}
{% block myTitle %}
    <h1>Login</h1>
{% endblock %}