{% extends 'layout/layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{ post.title }}</h1>

                <hr>

                <!-- Date/Time -->
                <p>{{ 'posts.view.plublished'|trans }} {{ post.createdAt|date("d-m-Y h:i") }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{% path post.headerImage, 'reference' %}" alt="">

                <hr>

                <div id="post-content">
                    {{ post.content|raw }}
                </div>
                <hr>
                {# @var app.user User #}
                {% if app.user is defined and app.user is not null %}
                    {% set isFavouritePost = post in app.user.favouritePosts  %}
                    <p class="favourite-post {% if isFavouritePost %}voted{% endif %}" data-id="{{ post.id }}" data-rel="favourite" data-action="{{ isFavouritePost ? 'remove':'add' }}"><span class="glyphicon glyphicon-heart"></span><span id="favouriteText"> {% if isFavouritePost %}Ulubiony{% else %}Dodaj do ulubionych{% endif %}</span></p>
                    <hr>
                {% endif %}

                <!-- Comments Form -->
                    <div class="card my-4">
                        <h5 class="card-header">Dodaj komentarz:</h5>
                        <div class="card-body">
                            {{ form_start(commentForm,{'method': 'POST'}) }}
                                {{ form_widget(commentForm) }}
                                <button class="btn btn-full-primary"><span>Dodaj komentarz</span></button>
                            {{ form_end(commentForm) }}
                        </div>
                    </div>
                <!-- Single Comment -->
                {% for comment in post.comments %}
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="{{ path('kcmb_app_user_profile', {id: comment.author.id}) }}">{{ comment.author.firstName }}</a></h5>
                                {{ comment.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Sidebar Widgets Column -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Kamil Chrzanowski 2017</p>
        </div>
        <!-- /.container -->
<script>
    KCMB.post.toggleFavourite('{{ path('kcmb_app_post_favourite_add', {post: '__ID__'}) }}', '{{ path('kcmb_app_post_favourite_remove', {post: '__ID__'}) }}')
</script>
{% endblock %}