{% extends 'layout/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form, {'method': 'POST'}) }}
        <button class="btn btn-full-primary"><span>Send us a question</span></button>
    {{ form_end(form) }}
{% endblock %}